name: Automatic Rebase

on: [pull_request_target]

permissions:
  contents: read

jobs:
  _:
    permissions:
      contents: write  # for ljharb/rebase to push code to rebase
      pull-requests: read  # for ljharb/rebase to get info about PR

    name: "Automatic Rebase"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: ljharb/rebase@3f30d8c115145dcc562f01582f59fbeefe77c707 # @master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
